<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <div id="contenedorLoginAdmin">
        <section id="entradaLogin">
            <h1> <%= sobre %></h1>
            <form id="formIngreso" autocomplete="off" action="/loginAdmin" method="POST"> 
                <input id="inputEmail" type="email" name="email" placeholder="Ingrese su email..." > <!--autocomplete justamente para que no salten nombres anteriores-->
                <input id="inputContrasenia"type="password" name="contrasenia" placeholder="Ingrese su constraseña..." > <!--autocomplete justamente para que no salten nombres anteriores-->
                
                <input type="submit" value="Ingresar" id="botonContinuar">
                <input id="botonAccesoRapido" type="button" value="Acceso rapido">
            </form>
        </section>
        <% if (typeof error !== "undefined") { %> <!-- para que muestre el error cuando se hizo el endpint-->
            <div class="mensajeError">
                <%= error %></div>
                <% } %>
                <!--<button id="botonCliente">Cliente</button>-->
            </div>
    </main>
    <%- include("partials/footer.ejs") %>
<script defer src="/js/admin/login.js"></script>
</body>
</html>